@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.disabled {
  pointer-events: none;
}

body * {
  @apply transition-colors duration-1000 ease-out;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
